{% extends "mama_cas/__base.html" %}
{% load i18n %}

{% block content %}
    <style>
        html, body, .container {
            height: 100%;
        }
        .container {
            display: table;
            vertical-align: middle;
        }
        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
    <div class="container">
        <div class="row vertical-center-row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-3">
                        <a style="width:500px;height: 50px;line-height: 33px;" class="btn btn-success" href="/accounts/yandex/login/">Войти с помощью корпоративной почты @evast.ru</a>
                    </div>
                </div>
                <div class="row">
                    &nbsp
                </div>
                <div class="row ">
                    <div class="col-xs-8 col-xs-offset-2">
                        <span>Не забудь проверить активный аккаунт на Яндексе (проверить можно на <a target="_blank" href="https://passport.yandex.ru">https://passport.yandex.ru</a> )</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
